@media (max-width:768px){

    .hamburger{
        display:block;
    }

    .menu{
        display:none;
        flex-direction:column;
        width:100%;
    }

    .menu.active{
        display:flex;
    }

    .dropdown-content{
        position:static;
        width:100%;
    }

    .controls{
        position:static;
        justify-content:center;
        margin:10px 0;
    }

    .slider,
    video,
    iframe{
        width:95%;
        height:auto;
        aspect-ratio:16/9;
    }

    form{
        width:95%;
    }

    .hero{
        width:95%;
        height:auto;
        aspect-ratio:16/9;
        background-attachment:scroll;
    }

    /* ===== Nastanak stranica ===== */

    .story-hero{
        background-attachment:scroll;
        padding:30px 10px;
    }

    .story-overlay{
        width:95%;
        padding:20px;
    }

}

@media (min-width:769px){

    .hamburger{
        display:none;
    }
}